{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12 abstand2">
        <h4>Anfahrt</h4>
        <iframe class="responsivemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.166155892301!2d8.851137209134345!3d47.92993059780275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a70faf7faf073%3A0xf834e6aa104b3db0!2sHauptstra%C3%9Fe+43%2C+78576+Emmingen-Liptingen!5e0!3m2!1sde!2sde!4v1538775482161"
                 frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}