<footer class="navbar-expand-lg navbar-light bg-light footer">
        <div class="container">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Anfahrt</a>
                </li>
            </ul>
        </div>
</footer>