<footer id="footer" class="navbar-expand-lg navbar-light bg-light footer navbar-fixed-bottom">
        <div class="container">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/impressum">Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/anfahrt">Anfahrt</a>
                </li>
            </ul>
        </div>
</footer>